.DateSelectionContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.DateSelectionButtonsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.DateDisplayContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin-left: 50px;
}

.DefaultText {
    width: 125px;
}
.DisplayedDate {
    font-weight: bold;
    width: 75px;
}

.CreateHomeworkEntryFormContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 50px 0px 0px 0px;
}

.xEntryFields {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0px;
}

.xRowFields {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin: 0px;
}

.yEntryFields {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.yRowFields {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin-left: 100px;
}

.zRowFields {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin-left: 200px;
}