.HomeworkContainer {
    
}

.HomeworkTitle {
    font-size: 3rem;
    font-family: 'Primitive';

    margin: 33px 0px;
}

.HomeworkText {
    margin: 0 10vw;
}

.AllHomeworkComponents {
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* html {
    height: 100%;
  }
  
  body {
    background-image: radial-gradient(circle farthest-corner at center, #3C4B57 0%, #1C262B 100%);
  } */
  
.HomeworkLoader {
    height: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

  .loader {
    /* position: absolute;
    top: calc(50% - 32px);
    left: calc(50% - 32px); */

    width: 64px;
    height: 64px;
    border-radius: 50%;
    perspective: 800px;
  }
  
  .inner {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 50%;  
  }
  
  .inner.one {
    left: 0%;
    top: 0%;
    animation: rotate-one 1s linear infinite;
    border-bottom: 3px solid black;
  }
  
  .inner.two {
    right: 0%;
    top: 0%;
    animation: rotate-two 1s linear infinite;
    border-right: 3px solid black;
  }
  
  .inner.three {
    right: 0%;
    bottom: 0%;
    animation: rotate-three 1s linear infinite;
    border-top: 3px solid black;
  }
  
  @keyframes rotate-one {
    0% {
      transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
  }
  
  @keyframes rotate-two {
    0% {
      transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
  }
  
  @keyframes rotate-three {
    0% {
      transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
  }

/* -----RESPONSIVE DESIGN TEMPLATES----- */
/* -------DESKTOP-FIRST TEMPLATE------- */
/* Extra large devices (large laptops/desktops, 1201px and up) */
@media only screen and (min-width: 1201px) {

}  
/* Large devices (laptops/desktops, 1200px and down) */
@media only screen and (max-width: 1200px) {

} 

/* Medium devices (landscape tablets, 992px and down) */
@media only screen and (max-width: 992px) {
   
}

 /* Small devices (portrait tablets and large phones, 768px and down) */
@media only screen and (max-width: 768px) {
    
    .HomeworkTitle {
        font-size: 2rem;
    }
    .HomeworkText {
        font-size: 0.95rem;
    }

}

/* Extra small devices - landscape (RatChecker landscape smartphone and portrait tablet look different) */
@media only screen and (max-width: 768px) and (orientation: landscape) {

}

 /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .HomeworkTitle {
        font-size: 1.75rem;
    }
    .HomeworkText {
        font-size: 0.9rem;
    }

}